<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856385824125-rk4md65l5nut3v1kbcp1s7s75fkus3hn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856385824125-rk4md65l5nut3v1kbcp1s7s75fkus3hn</string>
	<key>API_KEY</key>
	<string>AIzaSyCVIJ1AqgQuSrj1uMMpgyar_OlCwR4_CBg</string>
	<key>GCM_SENDER_ID</key>
	<string>856385824125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.semtle.HoonMin.Honnmin</string>
	<key>PROJECT_ID</key>
	<string>hoonmin-8af3f</string>
	<key>STORAGE_BUCKET</key>
	<string>hoonmin-8af3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856385824125:ios:3e84544e1725d2957b5814</string>
</dict>
</plist>